input, textarea, .editable_div {
    border-radius: 10px;
    box-shadow: 0px 0px 2px 1px rgba(61, 61, 61, 0.2);
    font-size: medium;
    width: 80%;
    border: 2px solid #555;
    transition: all 0.3s ease;
    background-color: rgba(58, 58, 58, 0.211);
}

input:focus, input:active, textarea:focus, textarea:active, .editable_div:active {
    background-color: rgba(234, 234, 234, 0.314);
    box-shadow: 0px 0px 2px 1px rgba(151, 151, 151, 0.2);
}

input:focus, input:active {
    transform: scale(1.115);
    box-shadow: 0px 0px 2px 1px rgba(151, 151, 151, 0.2);
}

input:hover:not(:focus):not(:active) {
    transform: scale(1.05);
}

select {
    border-radius: 10px;
    box-shadow: 0px 0px 2px 1px rgba(61, 61, 61, 0.2);
    /* font-size: medium; */
    /* width: 80%; */
    border: 2px solid #555;
    transition: all 0.3s ease;
    background-color: rgba(58, 58, 58, 0.211);
}

select:focus, select:active {
    background-color: rgba(234, 234, 234, 0.314);
    box-shadow: 0px 0px 2px 1px rgba(151, 151, 151, 0.2);
}

select:focus, select:active {
    transform: scale(1.115);
    box-shadow: 0px 0px 2px 1px rgba(151, 151, 151, 0.2);
}

select:hover:not(:focus):not(:active) {
    transform: scale(1.05);
}



textarea, .editable_div {
    margin: auto;
    width: 80%;
    height: 15vh;
    resize: none;
}

.editable_div {
    overflow: scroll;
}

.cardDialogue {
    margin: 15px;
    background-color: rgb(150, 150, 150);
    border-radius: 5px;
    border-width: 4px;
    border-color: black;
    color: black;
    padding: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);

    transition: opacity 0.3s ease;
}

.cardDialogue > * {
    color: black;
}

.cardDialogue > textarea {
    height: 15vh;
    min-height: 15vh;
}

#window_cards a {
    /* text-decoration: underline; */
    text-decoration-color: blue;
    /* text-shadow: blue 1px 0 10px; */
    font-weight: bold;
}

#window_cards {
    background-color: #d5d5d5;
    /* overflow: visible; */
}

textarea::placeholder, .editable_div::placeholder {
    font-style: italic;
    height: 100px;
    line-height: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    resize: none;  
    
}

.editable_div > img {
    width: 100px;
    height: auto;
}

#card_topbar {
    position: fixed;
    height: 0vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.888);
    top: 0px;
    left: 0px;
    margin-left: 0px;
    transition: height 0.5s ease;
    overflow-y: hidden;
    box-shadow: 0px 0px 2px 1px rgba(61, 61, 61, 0.2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: scroll;
    gap: 10px;
}

#card_topbar * {
    color: white;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.46);
    font-weight: bold;
}

#color_text {
    /* text-shadow: 0px 0px 4px rgba(255, 255, 255, 1); */
    text-shadow: 
        -1px -1px 0 #ffffff,  
        1px -1px 0 #ffffff,
        -1px  1px 0 #ffffff,
        1px  1px 0 #ffffff;
}

#card_topbar a {
    padding: 10px;
}

#card_bar_separator {
    transition: height 0.5s ease;
    width: 100vw;
    height: 0vh;
}

#html_raw_edit {
    background-color: rgba(0, 0, 0, 0.888);
    box-shadow: 0px 0px 2px 1px rgba(61, 61, 61, 0.2);
    overflow: hidden;
    height: 0vh;
    transition: height 0.5s ease, opacity 2.0s ease;
    align-content: center;

}



#html_raw_edit > * {
    color: white;
}