input, textarea {
    border-radius: 10px;
    box-shadow: 0px 0px 2px 1px rgba(61, 61, 61, 0.2);
    font-size: medium;
    width: 80%;
    border: 2px solid #555;
    transition: all 0.3s ease;
    background-color: rgba(58, 58, 58, 0.211);
}

input:focus, input:active, textarea:focus, textarea:active {
    background-color: rgba(234, 234, 234, 0.314);
    box-shadow: 0px 0px 2px 1px rgba(151, 151, 151, 0.2);
}

input:focus, input:active {
    transform: scale(1.115);
    box-shadow: 0px 0px 2px 1px rgba(151, 151, 151, 0.2);
}

input:hover:not(:focus):not(:active) {
    transform: scale(1.05);
}

textarea:hover:not(:focus):not(:active) {
    transform: scale(1.025);
}


textarea {
    width: 80%;
    height: 25%;
    resize: none;
}

.cardDialogue {
    margin: 15px;
    background-color: rgb(150, 150, 150);
    border-radius: 5px;
    border-width: 4px;
    border-color: black;
    color: black;
    padding: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);

    transition: opacity 0.3s ease;
}

.cardDialogue > * {
    color: black;
}

.cardDialogue > textarea {
    height: 15vh;
    min-height: 15vh;
}

#window_cards a {
    /* text-decoration: underline; */
    text-decoration-color: blue;
    /* text-shadow: blue 1px 0 10px; */
    font-weight: bold;
}

#window_cards {
    background-color: #d5d5d5;
    /* overflow: visible; */
}